@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", serif;
}

/* Font Classes */
.roboto-condensed-thin {
  font-family: "Roboto Condensed", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.roboto-condensed-extralight {
  font-family: "Roboto Condensed", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.roboto-condensed-light {
  font-family: "Roboto Condensed", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.roboto-condensed-regular {
  font-family: "Roboto Condensed", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.roboto-condensed-medium {
  font-family: "Roboto Condensed", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.roboto-condensed-semibold {
  font-family: "Roboto Condensed", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.roboto-condensed-bold {
  font-family: "Roboto Condensed", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.roboto-condensed-extrabold {
  font-family: "Roboto Condensed", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.roboto-condensed-black {
  font-family: "Roboto Condensed", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
